<div class="front-page" style="background-image: url('<%= image_path 'antartica1.jpeg' %>')" id="home">
  <div class="container banner">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 text-right">         
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 text-right ">
        <div class="front-page-content1 pb-5">
          <h1>Sistema de Coleta de</h1>
					<h1>Dados na Antártica</h1>
					<p>
      			<span id="banner-typed-text"></span>
    			</p>
        </div>
        <div class="front-page-content3">
          <a href="#tempo-real">
            <div class="orange-button">
              DADOS
            </div>
          </a>
          <a href="#projetos">
            <div class="white-button">
              SAIBA MAIS
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="projetos">
	<div class= "container text-justify" id="projetos">
		<h2>PROJETOS ATMOS e REMObs </h2>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2">	
				<div class= "card-project text-align-center">
					<%= image_tag "ant2.jpg"%>
				</div>			
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2">
				<h6>Os projetos ATMOS e REMObs se uniram para gerar um sistema de monitoramento em tempo real das condições 
				meteorológicas e oceanográficas no continente Antártico. </h6>
				<h6>Gerenciado pelo Laboratório de Estudos do Oceano e da 
	      Atmosfera (LOA-OBT), do INPE, o ATMOS é uma iniciativa promissora da ciência, tecnologia e inovação, que visa 
				melhorar a compreensão das interações entre o gelo marinho-atmosfera-oceano-ondas e as trocas de calor, momentum 
				(movimento) e CO 2 em suas interfaces no Oceano Austral. </h6>			
			</div>			
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2">	
				<h6>O projeto REMObs (REMO Observacional), uma parceria entre o Centro de Hidrografia da Marinha (CHM) e a 
				PETROBRAS, contempla uma união de esforços para o estabelecimento de uma rede de coleta de dados operacionais no Atlântico Sul, o que está sendo
					de grande importância para a calibração e validação de modelos de previsão meteoceanográfica. Em 2020, o 
					REMObs ampliou a sua área de atuação para o “Continente Gelado”, com o lançamento de uma boia ondógrafo na região,
						a boia Spotter. Além das atividades de pesquisa, os dados coletados também são indispensáveis para apoio às operações da 
						Marinha do Brasil na região, uma vez que os modelos meteoceanográficos disponíveis não possuem a resolução necessária 
						para representar as condições locais, principalmente, próximo à costa.</h6>

				<h6>Neste verão antártico de 2021/2022, os projetos ATMOS e REMObs se uniram para montar um sistema completo 
				de monitoramento das condições de ondas e correntes na região Antártica. Ampliamos a rede de coleta de dados 
				no “Continente Gelado”, com o lançamento de 3 boias ondógrafo de fundeio, além da coleta de dados por meio de 
				estações oceanográficas, lançamento de boias ondógrafo de deriva e instalação de estações meteorológicas nas 
				proximidades da Estação Antártica Comandante Ferraz. Nesta página da internet, você poderá ter acesso aos dados 
				coletados em tempo real por nossos sistemas. </h6>
						
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 mt-2">
				<div class= "card-project text-align-center">
					<%= image_tag "ant1.jpg"%>
				</div>	
			</div>			
		</div>
	</div>
</div>
<div class="tempo-real">
	<div class="container" id= "tempo-real">  
		<h2 class="text-center mt-4">DADOS EM TEMPO REAL</h2>        
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6 text-right"> 
				<div id="map"
							style="width: 100%; height: 600px;"
							data-markers="<%= @systems.to_json %>"
							data-almirantadoint="<%= @almirantado_int_data.to_json %>"
							data-almirantadoext="<%= @almirantado_ext_data.to_json %>"
							data-inpe="<%= @inpe_data.to_json %>"
							data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 text-right"> 
				<% @systems.each do |system| %> 			
					<% if system.name.downcase == 'almirantado_int' %>
						<div class="card-product mt-1 box" id='almirantado_int'>
								<%= image_tag "spotter_blue.jpeg"%>
					<% elsif system.name.downcase == 'almirantado_ext'  %>
						<div class="card-product mt-1 box" id='almirantado_ext'>
							<%= image_tag "spotter_yellow.jpeg"%>
					<% else %>
						<div class="card-product mt-1 box" id='inpe'>
              <%= image_tag "spotter_green.jpeg"%>
					<% end %>
						<div class="card-product-infos w-100">
							<% if system.name.downcase == 'almirantado_int' %>
								<h3 class='text-center'>KELLER</h3>
								<p  class='text-center'><strong>ÚLTIMO DADO:</strong> <%= @almirantado_int_data[:date_time][-1].strftime('%Y/%m/%d %H:%M')%></p>
								<div class="row">
									<div class="col-6 text-center"> 								
										<% if @almirantado_int_data[:swvht][-1] %>
											<p><strong>ALT. ONDAS:</strong> <%= @almirantado_int_data[:swvht][-1].round(1)%> m</p>
											<p><strong>PER. ONDAS:</strong> <%= @almirantado_int_data[:tp][-1].round(1)%> s</p>
											<p><strong>DIR. ONDAS:</strong> <%= @almirantado_int_data[:wvdir][-1].round()%>°</p>
										<% elsif @almirantado_int_data[:swvht][-2] %>
											<p><strong>ALT. ONDAS:</strong> <%= @almirantado_int_data[:swvht][-2].round(1)%> m</p>
											<p><strong>PER. ONDAS:</strong> <%= @almirantado_int_data[:tp][-2].round(1)%> s</p>
											<p><strong>DIR. ONDAS:</strong> <%= @almirantado_int_data[:wvdir][-2].round()%>°</p>
										<% elsif @almirantado_int_data[:swvht][-3] %>
											<p><strong>ALT. ONDAS:</strong> <%= @almirantado_int_data[:swvht][-3].round(1)%> m</p>
											<p><strong>PER. ONDAS:</strong> <%= @almirantado_int_data[:tp][-3].round(1)%> s</p>
											<p><strong>DIR. ONDAS:</strong> <%= @almirantado_int_data[:wvdir][-3].round()%>°</p>
										<% else %>
											<p><strong>ALT. ONDAS:</strong> -- m</p>
											<p><strong>PER. ONDAS:</strong> -- s</p>
											<p><strong>DIR. ONDAS:</strong> -- °</p>
										<% end %>
									</div>
									<div class="col-6 text-center"> 								
										<% if @almirantado_int_data[:sst][-1] %>
											<p><strong>SST:</strong> <%= @almirantado_int_data[:sst][-1].round()%> °C</p>
										<% elsif @almirantado_int_data[:sst][-2] %>
											<p><strong>SST:</strong> <%= @almirantado_int_data[:sst][-2].round()%> °C</p>
										<% elsif @almirantado_int_data[:sst][-3] %>
											<p><strong>SST:</strong> <%= @almirantado_int_data[:sst][-3].round()%> °C</p>
										<% else %>
											<p><strong>SST:</strong> -- °C</p>
										<% end %>
										<% if @almirantado_int_data[:wspd][-1] %>
											<p><strong>VEL. VENTO:</strong> <%= @almirantado_int_data[:wspd][-1].round()%> m/s</p>
											<p><strong>DIR. VENTO:</strong> <%= @almirantado_int_data[:wdir][-1].round()%> °</p>
										<% elsif @almirantado_int_data[:wspd][-2] %>
											<p><strong>VEL. VENTO:</strong> <%= @almirantado_int_data[:wspd][-2].round()%> m/s</p>
											<p><strong>DIR. VENTO:</strong> <%= @almirantado_int_data[:wdir][-2].round()%> °</p>
										<% elsif @almirantado_int_data[:wspd][-3] %>
											<p><strong>VEL. VENTO:</strong> <%= @almirantado_int_data[:wspd][-3].round()%> m/s</p>
											<p><strong>DIR. VENTO:</strong> <%= @almirantado_int_data[:wdir][-3].round()%> °</p>
										<% else %>
											<p><strong>VEL. VENTO:</strong> -- m/s</p>
											<p><strong>DIR. VENTO:</strong> -- °</p>
										<% end %>
									</div>
								</div>
							<% elsif system.name.downcase == 'almirantado_ext' %>
								<h3 class='text-center'>ALMIRANTADO</h3>
								<p  class='text-center'><strong>ÚLTIMO DADO:</strong> <%= @almirantado_ext_data[:date_time][-1].strftime('%Y/%m/%d %H:%M')%></p>
								<div class="row">
									<div class="col-6 text-center"> 
										<% if @almirantado_ext_data[:swvht][-1] %>
											<p><strong>ALT. ONDAS:</strong> <%= @almirantado_ext_data[:swvht][-1].round(1)%> m</p>
											<p><strong>PER. ONDAS:</strong> <%= @almirantado_ext_data[:tp][-1].round(1)%> s</p>
											<p><strong>DIR. ONDAS:</strong> <%= @almirantado_ext_data[:wvdir][-1].round()%>°</p>
										<% elsif @almirantado_ext_data[:swvht][-2] %>
											<p><strong>ALT. ONDAS:</strong> <%= @almirantado_ext_data[:swvht][-2].round(1)%> m</p>
											<p><strong>PER. ONDAS:</strong> <%= @almirantado_ext_data[:tp][-2].round(1)%> s</p>
											<p><strong>DIR. ONDAS:</strong> <%= @almirantado_ext_data[:wvdir][-2].round()%>°</p>
										<% elsif @almirantado_ext_data[:swvht][-3] %>
											<p><strong>ALT. ONDAS:</strong> <%= @almirantado_ext_data[:swvht][-3].round(1)%> m</p>
											<p><strong>PER. ONDAS:</strong> <%= @almirantado_ext_data[:tp][-3].round(1)%> s</p>
											<p><strong>DIR. ONDAS:</strong> <%= @almirantado_ext_data[:wvdir][-3].round()%>°</p>
										<% else %>
											<p><strong>ALT. ONDAS:</strong> -- m</p>
											<p><strong>PER. ONDAS:</strong> -- s</p>
											<p><strong>DIR. ONDAS:</strong> -- °</p>
										<% end %>
									</div>
									<div class="col-6 text-center"> 
										<% if @almirantado_ext_data[:sst][-1] %>
											<p><strong>SST:</strong> <%= @almirantado_ext_data[:sst][-1].round()%> °C</p>
										<% elsif @almirantado_ext_data[:sst][-2] %>
											<p><strong>SST:</strong> <%= @almirantado_ext_data[:sst][-2].round()%> °C</p>
										<% elsif @almirantado_ext_data[:sst][-3] %>
											<p><strong>SST:</strong> <%= @almirantado_ext_data[:sst][-3].round()%> °C</p>
										<% else %>
											<p><strong>SST:</strong> -- °C</p>
										<% end %>
										<% if @almirantado_ext_data[:wspd][-1] %>
											<p><strong>VEL. VENTO:</strong> <%= @almirantado_ext_data[:wspd][-1].round()%> m/s</p>
											<p><strong>DIR. VENTO:</strong> <%= @almirantado_ext_data[:wdir][-1].round()%> °</p>
										<% elsif @almirantado_ext_data[:wspd][-2] %>
											<p><strong>VEL. VENTO:</strong> <%= @almirantado_ext_data[:wspd][-2].round()%> m/s</p>
											<p><strong>DIR. VENTO:</strong> <%= @almirantado_ext_data[:wdir][-2].round()%> °</p>
										<% elsif @almirantado_ext_data[:wspd][-3] %>
											<p><strong>VEL. VENTO:</strong> <%= @almirantado_ext_data[:wspd][-3].round()%> m/s</p>
											<p><strong>DIR. VENTO:</strong> <%= @almirantado_ext_data[:wdir][-3].round()%> °</p>
										<% else %>
											<p><strong>VEL. VENTO:</strong> -- m/s</p>
											<p><strong>DIR. VENTO:</strong> -- °</p>
										<% end %>
									</div>
								</div>
							<% else %>
								<h3 class='text-center'>PINGUIM</h3>
								<p class='text-center'><strong>ÚLTIMO DADO:</strong> <%= @inpe_data[:date_time][-1].strftime('%Y/%m/%d %H:%M')%></p>
								<div class="row">
									<div class="col-6 text-center"> 
										<% if @inpe_data[:swvht][-1] %>
											<p><strong>ALT. ONDAS:</strong> <%= @inpe_data[:swvht][-1].round(1)%> m</p>
											<p><strong>PER. ONDAS:</strong> <%= @inpe_data[:tp][-1].round(1)%> s</p>
											<p><strong>DIR. ONDAS:</strong> <%= @inpe_data[:wvdir][-1].round()%>°</p>
										<% elsif @inpe_data[:swvht][-2] %>
											<p><strong>ALT. ONDAS:</strong> <%= @inpe_data[:swvht][-2].round(1)%> m</p>
											<p><strong>PER. ONDAS:</strong> <%= @inpe_data[:tp][-2].round(1)%> s</p>
											<p><strong>DIR. ONDAS:</strong> <%= @inpe_data[:wvdir][-2].round()%>°</p>
										<% elsif @inpe_data[:swvht][-3] %>
											<p><strong>ALT. ONDAS:</strong> <%= @inpe_data[:swvht][-3].round(1)%> m</p>
											<p><strong>PER. ONDAS:</strong> <%= @inpe_data[:tp][-3].round(1)%> s</p>
											<p><strong>DIR. ONDAS:</strong> <%= @inpe_data[:wvdir][-3].round()%>°</p>
										<% else %>
											<p><strong>ALT. ONDAS:</strong> -- m</p>
											<p><strong>PER. ONDAS:</strong> -- s</p>
											<p><strong>DIR. ONDAS:</strong> -- °</p>
										<% end %>
									</div>
									<div class="col-6 text-center"> 
										<% if @inpe_data[:sst][-1] %>
											<p><strong>SST:</strong> <%= @inpe_data[:sst][-1].round()%> °C</p>
										<% elsif @inpe_data[:sst][-2] %>
											<p><strong>SST:</strong> <%= @inpe_data[:sst][-2].round()%> °C</p>
										<% elsif @inpe_data[:sst][-3] %>
											<p><strong>SST:</strong> <%= @inpe_data[:sst][-3].round()%> °C</p>
										<% else %>
											<p><strong>SST:</strong> -- °C</p>
										<% end %>
										<% if @inpe_data[:wspd][-1] %>
											<p><strong>VEL. VENTO:</strong> <%= @inpe_data[:wspd][-1].round()%> m/s</p>
											<p><strong>DIR. VENTO:</strong> <%= @inpe_data[:wdir][-1].round()%> °</p>
										<% elsif @inpe_data[:wspd][-2] %>
											<p><strong>VEL. VENTO:</strong> <%= @inpe_data[:wspd][-2].round()%> m/s</p>
											<p><strong>DIR. VENTO:</strong> <%= @inpe_data[:wdir][-2].round()%> °</p>
										<% elsif @inpe_data[:wspd][-3] %>
											<p><strong>VEL. VENTO:</strong> <%= @inpe_data[:wspd][-3].round()%> m/s</p>
											<p><strong>DIR. VENTO:</strong> <%= @inpe_data[:wdir][-3].round()%> °</p>
										<% else %>
											<p><strong>VEL. VENTO:</strong> -- m/s</p>
											<p><strong>DIR. VENTO:</strong> -- °</p>
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
					</div>				
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="image-strip text-center" id="fundo">
  <div class="container reveal">
    <div class="line"></div>
  </div>
</div>

<div class="graficos  mt-2">
	<div class="container" id="graficos">
		<div class='row justify-content-center'>			
		<%= form_tag root_path, method: :get, class: 'd-flex' do %>
			<div>
				<p  class='m-0 p-0'>Data Inicial:</p>
				<%= date_field_tag :start_date,
					params[:start_date],
					class: "form-control",
					placeholder: "Data Inicial"
				%>
			</div>
			<div>
				<p class='m-0 p-0'>Data Final:</p>
				<%= date_field_tag :end_date,
					params[:end_date],
					class: "form-control",
					placeholder: "Data Final"
				%>
			</div>
			<div class='search' style="writing-mode: vertical-rl">
				<%= submit_tag "FILTRAR", class: "orange-button-search" %>					
			</div>
		<% end %>
			
		</div>
		<div id="plotdata"
			data-almirantadoint="<%= @almirantado_int_data.to_json %>"
			data-almirantadoext="<%= @almirantado_ext_data.to_json %>"
			data-inpe="<%= @inpe_data.to_json %>">
			<div id="wspd-plot" class='graph'>
			</div>
			<div id="wdir-plot" class='graph'>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-4">
					<div id="wdir-plot-almirantadoint" class='graph'>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div id="wdir-plot-almirantadoext" class='graph'>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div id="wdir-plot-inpe" class='graph'>
					</div>
				</div>
			</div>
			<div id="swvht-plot" class='graph'>
			</div>
			<div id="wvdir-plot" class='graph'>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-4">
					<div id="wvdir-plot-almirantadoint" class='graph'>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div id="wvdir-plot-almirantadoext" class='graph'>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div id="wvdir-plot-inpe" class='graph'>
					</div>
				</div>
			</div>
			<div id="mxwvht-plot" class='graph'>
			</div>
			<div id="tp-plot" class='graph'>
			</div>
			<div id="sst-plot" class='graph'>
			</div>
		</div>
	</div>
</div>