<div class="front-page" style="background-image: url('<%= image_path 'antartica1.jpeg' %>')" id="home">
  <div class="container banner">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 text-right">         
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 text-right ">
        <div class="front-page-content1 pb-5">
          <h1>Sistema de Coleta de</h1>
					<h1>Dados na Antártica</h1>
					<p>
      			<span id="banner-typed-text"></span>
    			</p>
        </div>
        <div class="front-page-content3">
          <a href="#tempo-real">
            <div class="orange-button">
              DADOS
            </div>
          </a>
          <a href="#projetos">
            <div class="white-button">
              SAIBA MAIS
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="projetos">
	<div class= "container text-justify" id="projetos">
		<h2>Projetos CEOAC e REMObs </h2>
		<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at hendrerit ipsum. Sed quis pellentesque arcu. Pellentesque aliquet libero neque, sit amet mollis sem posuere ut. Curabitur enim eros, sagittis et massa eget, sodales vulputate velit. Donec est nisl, semper vitae nulla et, mattis pellentesque turpis. Mauris hendrerit sem in orci interdum, ac tincidunt dui eleifend. Nulla urna felis, maximus non ipsum rhoncus, sagittis posuere urna. Duis non bibendum ipsum, et pharetra odio. Integer suscipit dolor sit amet ornare fringilla. Suspendisse pulvinar blandit libero, a laoreet ante efficitur at. Proin consequat congue lorem, ut ultrices tellus.</h6>
	</div>
</div>
<div class="tempo-real">
	<div class="container" id= "tempo-real">  
		<h2 class="text-center mt-4">Tempo Real</h2>        
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-6 text-right"> 
				<div id="map"
							style="width: 100%; height: 600px;"
							data-markers="<%= @systems.to_json %>"
							data-almirantadoint="<%= @almirantado_int_data.to_json %>"
							data-almirantadoext="<%= @almirantado_ext_data.to_json %>"
							data-inpe="<%= @inpe_data.to_json %>"
							data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-6 text-right box"> 
				<% @systems.each do |system| %> 			
					<div class="card-product mt-1">
						<img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
						<div class="card-product-infos">
							<h3><%=system.name.upcase%></h3>
							<% if system.name.upcase == 'almirantado_int' %>
								<% if @almirantado_int_data[:swvht][-3] %>
									<p>ÚLTIMO DADO: <%= @almirantado_int_data[:date_time][-3].strftime('%Y/%m/%d %H:%M')%></p>
									<p>ALTURA ONDAS: <%= @almirantado_int_data[:swvht][-3].round(1)%> m</p>
									<p>PERÍODO ONDAS: <%= @almirantado_int_data[:tp][-3].round(1)%> s</p>
									<p>DIREÇÃO ONDAS: <%= @almirantado_int_data[:wvdir][-3].round()%>°</p>
									<p>SST: <%= @almirantado_int_data[:sst][-3].round()%> °C</p>
									<% if @almirantado_int_data[:wspd][-3] %>
										<p>VELOCIDADE VENTO: <%= @almirantado_int_data[:wspd][-3].round()%> m/s</p>
										<p>DIREÇÃO VENTO: <%= @almirantado_int_data[:wdir][-3].round()%> °</p>
										<p>RAJADA: <%= @almirantado_int_data[:gust][-3].round()%> m/s</p>
									<% end %>
								<% else %>
									<p>ÚLTIMO DADO: <%= @almirantado_int_data[:date_time][-2].strftime('%Y/%m/%d %H:%M')%></p>
									<p>ALTURA ONDAS: <%= @almirantado_int_data[:swvht][-2].round(1)%> m</p>
									<p>PERÍODO ONDAS: <%= @almirantado_int_data[:tp][-2].round(1)%> s</p>
									<p>DIREÇÃO ONDAS: <%= @almirantado_int_data[:wvdir][-2].round()%>°</p>
									<p>SST: <%= @almirantado_int_data[:sst][-2].round()%> °C</p>
									<% if @almirantado_int_data[:wspd][-2] %>
										<p>VELOCIDADE VENTO: <%= @almirantado_int_data[:wspd][-2].round()%> m/s</p>
										<p>DIREÇÃO VENTO: <%= @almirantado_int_data[:wdir][-2].round()%> °</p>
										<p>RAJADA: <%= @almirantado_int_data[:gust][-2].round()%> m/s</p>
									<% end %>
								<% end %>			
							<% elsif system.name.upcase == 'almirantado_ext' %>			
								<% if @almirantado_int_data[:swvht][-3] %>
									<p>ÚLTIMO DADO: <%= @almirantado_ext_data[:date_time][-3].strftime('%Y/%m/%d %H:%M')%></p>
									<p>ALTURA ONDAS: <%= @almirantado_ext_data[:swvht][-3].round(1)%> m</p>
									<p>PERÍODO ONDAS: <%= @almirantado_ext_data[:tp][-3].round(1)%> s</p>
									<p>DIREÇÃO ONDAS: <%= @almirantado_ext_data[:wvdir][-3].round()%>°</p>
									<p>SST: <%= @almirantado_ext_data[:sst][-3].round()%> °C</p>
									<% if @almirantado_ext_data[:wspd][-3] %>
										<p>VELOCIDADE VENTO: <%= @almirantado_ext_data[:wspd][-3].round()%> m/s</p>
										<p>DIREÇÃO VENTO: <%= @almirantado_ext_data[:wdir][-3].round()%> °</p>
										<p>RAJADA: <%= @almirantado_ext_data[:gust][-3].round()%> m/s</p>
									<% end %>
								<% else %>
									<p>ÚLTIMO DADO: <%= @almirantado_ext_data[:date_time][-2].strftime('%Y/%m/%d %H:%M')%></p>
									<p>ALTURA ONDAS: <%= @almirantado_ext_data[:swvht][-2].round(1)%> m</p>
									<p>PERÍODO ONDAS: <%= @almirantado_ext_data[:tp][-2].round(1)%> s</p>
									<p>DIREÇÃO ONDAS: <%= @almirantado_ext_data[:wvdir][-2].round()%>°</p>
									<p>SST: <%= @almirantado_ext_data[:sst][-2].round()%> °C</p>
									<% if @almirantado_ext_data[:wspd][-2] %>
										<p>VELOCIDADE VENTO: <%= @almirantado_ext_data[:wspd][-2].round()%> m/s</p>
										<p>DIREÇÃO VENTO: <%= @almirantado_ext_data[:wdir][-2].round()%> °</p>
										<p>RAJADA: <%= @almirantado_ext_data[:gust][-2].round()%> m/s</p>
									<% end %>
								<% end %>		
							<% else system.name.upcase == 'inpe' %>
								<% if @inpe_data[:swvht][-3] %>
									<p>ÚLTIMO DADO: <%= @inpe_data[:date_time][-3].strftime('%Y/%m/%d %H:%M')%></p>
									<p>ALTURA ONDAS: <%= @inpe_data[:swvht][-3].round(1)%> m</p>
									<p>PERÍODO ONDAS: <%= @inpe_data[:tp][-3].round(1)%> s</p>
									<p>DIREÇÃO ONDAS: <%= @inpe_data[:wvdir][-3].round()%>°</p>
									<p>SST: <%= @inpe_data[:sst][-3].round()%> °C</p>
									<% if @inpe_data[:wspd][-3] %>
										<p>VELOCIDADE VENTO: <%= @inpe_data[:wspd][-3].round()%> m/s</p>
										<p>DIREÇÃO VENTO: <%= @inpe_data[:wdir][-3].round()%> °</p>
										<p>RAJADA: <%= @inpe_data[:gust][-3].round()%> m/s</p>
									<% end %>
								<% else %>
									<p>ÚLTIMO DADO: <%= @inpe_data[:date_time][-2].strftime('%Y/%m/%d %H:%M')%></p>
									<p>ALTURA ONDAS: <%= @inpe_data[:swvht][-2].round(1)%> m</p>
									<p>PERÍODO ONDAS: <%= @inpe_data[:tp][-2].round(1)%> s</p>
									<p>DIREÇÃO ONDAS: <%= @inpe_data[:wvdir][-2].round()%>°</p>
									<p>SST: <%= @inpe_data[:sst][-2].round()%> °C</p>
									<% if @inpe_data[:wspd][-2] %>
										<p>VELOCIDADE VENTO: <%= @inpe_data[:wspd][-2].round()%> m/s</p>
										<p>DIREÇÃO VENTO: <%= @inpe_data[:wdir][-2].round()%> °</p>
										<p>RAJADA: <%= @inpe_data[:gust][-2].round()%> m/s</p>
									<% end %>
								<% end %>
							<% end %>			
						</div>
					</div>				
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="container" id="fundo">
	<h2>FIGURA DE FUNDO</h2>
</div>

<div class="container" id="graficos">
	<h3 class='mt-5'>FILTRAR POR DATA</h3>
  <%= form_tag root_path, method: :get, class: 'form-horizontal d-flex mt-5' do %>
    <%= date_field_tag :start_date,
      params[:start_date],
      class: "form-control mb-2",
      placeholder: "Data Inicial"
    %>
    <%= date_field_tag :end_date,
      params[:end_date],
      class: "form-control mb-2",
      placeholder: "Data Final"
    %>
    <%= submit_tag "Procurar", class: "orange-button" %>
  <% end %>

	<div id="plotdata"
    data-almirantadoint="<%= @almirantado_int_data.to_json %>"
		data-almirantadoext="<%= @almirantado_ext_data.to_json %>"
		data-inpe="<%= @inpe_data.to_json %>">
    <div id="wspd-plot" class='graph'>
    </div>
    <div id="wdir-plot" class='graph'>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div id="wdir-plot-almirantadoint" class='graph'>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div id="wdir-plot-almirantadoext" class='graph'>
        </div>
      </div>
			<div class="col-sm-12 col-md-4">
        <div id="wdir-plot-inpe" class='graph'>
        </div>
      </div>
    </div>
    <div id="swvht-plot" class='graph'>
    </div>
    <div id="wvdir-plot" class='graph'>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div id="wvdir-plot-almirantadoint" class='graph'>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div id="wvdir-plot-almirantadoext" class='graph'>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div id="wvdir-plot-inpe" class='graph'>
        </div>
      </div>
    </div>
    <div id="mxwvht-plot" class='graph'>
    </div>
    <div id="tp-plot" class='graph'>
    </div>
    <div id="sst-plot" class='graph'>
    </div>
  </div>
</div>
